target/
.project
.classpath
.settings/
.svn/
bin/
# Intellij
*.ipr
*.iml
.idea
out/
.DS_Store
/bootstrap
/dependencies.xml
.java-version
.checkstyle

.mvn/.gradle-enterprise/gradle-enterprise-workspace-id
